:root {
    --backgroundcolor: #AA7339;
    --color: #032336;
    --color-dimmed: #477187;
}

html {
    font-size: calc(1em + 1vw)
}

body {
    background-color: var(--backgroundcolor);
    color: var(--color);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.dimmed,
.dimmed a {
    color: var(--color-dimmed);
    font-size: 1.4vw;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 27vw;
    font-weight: bolder;
}

.shadowy {
    text-shadow: 16px 16px 0 rgba(1,1,1,0.4);
}

